
body {
  
  margin: 0;
  padding: 0;
  width: 1000px;
  height: 1000px;
}
[draggable] {
  cursor: move;
}
h1 {
	text-align: center;
	margin-top: 35px;
	margin-bottom: 35px;
	font-style: italic;
	font-family: sans-serif;
	color: gray;
}